* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100vw;
    height: 100vh;
    font-size: 10px;
}

#bubbleMeans {
    width: 80%;
    margin: 30px auto;
}

.header {
    text-align: center;
    font-size: 5rem;
    color: blueviolet;
    font-weight: 900;
    margin-bottom: 10px;

}

.means {
    text-align: center;
    font-size: 2rem;
    color: rgb(43, 101, 226);
    font-weight: 900;
}


#bubbleAlg {
    width: 80%;
    height: 500px;
    margin: 30px auto;
    border: 1px solid red;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.bubbleAlgCont {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 25%;

}

.arrayCount p {
    text-align: center;
    font-size: 4rem;
}

.arrBtn {
    display: flex;
    justify-content: center;

}

.arrBtn button {
    margin: 30px 0;
    padding: 10px;
    font-size: 2.5rem;
    background-color: rgb(94, 94, 255);
    color: white;
    border: none;
    border-radius: 5px;
    transition: .1s ease-in-out;

}

.arrBtn button:hover {
    cursor: pointer;
    background-color: blue;
    transition: .1s ease-in-out;
}



input {
    width: 100%;
}

input#arrCountInput {
    width: 80px;
    text-align: center;
    margin-top: 30px;
    height: 70px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

input::-webkit-inner-spin-button {
    display: none;
}




.bubbleAppCont {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: -100%;
}

.bubbleUserInput {
    text-align: center;
    font-size: 4rem;

}


.userEntered {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.userEntered input {
    width: 10%;
    height: 60px;
    text-align: center;
    font-size: 4rem;
}

.questionsBtn {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.bigToSmallBtn,
.bubbleSortBtn,
.smallToBigBtn {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 5rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.bigToSmallBtn,
.bubbleSortBtn,
.smallToBigBtn:hover {
    cursor: pointer;
}


.resultBubble {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.resultBubble input  {
    width: 10%;
    height: 60px;
    text-align: center;
    font-size: 3rem;
    background-color: aqua;
    color: w1hite;
}

@keyframes bubbleAlgCont {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

@keyframes bubbleAppCont {
    from {
        left: -100%;
    }

    to {
        left: 0;

    }
}